@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


// Media query manager
// break point manager
/*
0 - 600px: phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: where normal styles apply
1800px + : big desktop

$breakpoint argument choices: 
- phone 
- tab-port
- tab-land
- big-desktop

by default 1em == 16px that is set by user agent stylesheet
    600 / 16 = 37.5em
    900 / 16 = 56.25em
    1200 / 16 = 75em
    1800 / 16 = 112.5em

ORDER: base + typography > general layout: header footer navigation + grid > page layout > components

*/


@mixin respond($breakpoint) {
    @if($breakpoint == "phone"){
        @media only screen and (max-width: 37.5em){ @content; }
    }

    @if($breakpoint == "tab-port"){
        @media only screen and (max-width: 56.25em){ @content; }
    }

    @if($breakpoint == "tab-land"){
        @media only screen and (max-width: 75em){ @content; }
    }

    @if($breakpoint == "big-desktop"){
        @media only screen and (min-width: 112.5em){ @content; }
    }
    
}