*, 
*::after, 
*::before {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit; 
}

html {

    // default screen size, where our normal styles apply: 1200 - 1800 px;
    // root font size we want for our default screen size is 10px 
    // width <= 1800px or 112.5em, we want 1rem == 10px so, 10 / 16 * 100 = 62.5%;
    font-size: 62.5%;


    @include respond(tab-land){ 
        //width <= 1200px or 75em, we want 1rem == 9px so, 9 / 16 * 100 = 56.25%; 
        font-size: 56.25%;
    }
  
    @include respond(tab-port){ 
        //width <= 900px or 37.5em, we want 1rem == 8px so, 8 / 16 * 100 = 50%; 
        font-size: 50%;
    }

/*
    // commented out because we do not want our design to scale down automatically for mobile devies
    @include respond(phone){ 
        //width <= 600px or 37.5em, we want 1rem == 5px so, 5 / 16 * 100 = 31.25%; 
        font-size: 31.25%;
    }
*/  

    @include respond(big-desktop){ 
        //width >= 1800px or 112.5em, we want 1rem == 12px so 12 / 16 * 100 = 75%; 
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}
